#legal {
    background-color: #f9f9f9;
  
    h2 {
      font-size: 3rem;
      font-weight: 800;
      color: #1e1e1e;
      margin-bottom: 20px;
    }
  
    .text-uppercase {
        padding-top: 80px;
    }
    
    .underline {
      width: 100px;
      height: 3px;
      background-color: #0d6efd;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    .accordion {
      .accordion-item {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 15px;
  
        .accordion-header {
          background-color: #e9ecef;
          font-size: 1.2rem;
  
          button {
            color: #444;
            font-weight: bold;
  
            &:hover {
              color: #0d6efd;
            }
          }
        }
  
        .accordion-body {
          background-color: #ffffff;
          padding: 15px;
          text-align: left;
          font-size: 0.95rem;
          color: #333;
  
          p {
            margin: 5px 0;
  
            a {
              color: #0d6efd;
              text-decoration: none;
              font-weight: bold;
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  